@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#loginTable {
	width: 520px;
	height: 350px;
	margin: 10px auto 0 auto;
}

#login_logo {
	width: 520px;
	height: 50px;
	border-bottom: 3px solid black;
}

#login_area {
	width: 270px;
	height: 240px;
	border: 0px solid black; margin-top : 0px;
	float: left;
	margin-top: 0px;
}

#page_list {
	width: 520px;
	height: 150px;
	border: 1px solid black;
	position: relative;
	background-color: yellow;
	float: left;
	margin: 0;
}

#page_image {
	width: 240px;
	height: 240px;
	margin-top: 0px;
	float: right;
}

#member_id_v {
	margin: 0;
	margin-top: 100px;
	width: 175px;
	height: 26px; padding : 0;
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	float: left;
	position: relative;
	border-radius: 5px;
	padding: 0;
}

#member_pw_v {
	margin: 0;
	margin-top: 10px;
	width: 175px; height : 26px;
	padding: 0;
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	float: left;
	border-radius: 5px;
	height: 26px;
}

#button_img {
	width: 80px;
	height: 50px;
	margin-left: 10px;
	padding: 0;
	position: relative;
	margin: 0;
	margin-top: 107px;
	margin-left: 10px;
	padding: 0;
	position: relative;
	float: right;
	padding: 0
}

#sub_image {
	width: 240px;
	height: 240px;
	margin: 0;
	padding: 0;
	position: relative;
	float: right;
	margin: 0
}

#page_move {
	font-size: 12px;
	float: right;
	margin-top: 32px;
	margin-right: 10 px;
}

#login_member {
	width: 240px;
	height: 30px;
	margin: 27px 0 0 19px;
	border: 0px solid black;
	font-size: 11px;
	text-align: right; position : relative;
	float: left;
	position: relative
}