@CHARSET "UTF-8";

#daily_list {
	font-size: 10px;
	width: 270px;
	height: 40px;
	border: 0px solid black;
	overflow: hidden;
	position: relative;
	float: right;
}

#daily_list:HOVER {
	overflow: visible;
	height : 350px;
	color : #419EE0;
	background-color : #B5B2FF;
	position : relative;
	float : right;
	
	z-index: 5;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.label-warning {
	background-color: #f0ad4e;
}

.label-default {
	background-color: #999;
}

#wearther_style {
	width: 258px;
	height: 40px;
	color : white;
	font-size : 13px;
	margin-left: 10px;
	border: 0px solid black;
	position: relative;
	float: right;
	border: 0px solid black
}

#date{
	width : 81px;
	height : 22px;
	padding-top : 10px;
	margin-left : 1px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#celsius{
	width : 92px;
	height : 22px;
	padding-top : 10px;
	border  : 0px solid black;
	position : relative;
	float : right;
}

#celsius {
	width: 125px;
}