@CHARSET "UTF-8";

body {
	color:#262626;
	text-decoration: none !important;
	font-size: 12px !important;
}

a:link { text-decoration: none;color:#4a4a4a}
a:visited { text-decoration: none;color:#4a4a4a}
a:active {text-decoration: none;color:#4a4a4a}


/*
a:hover {font-weight: bold}
a:hover {text-decoration:none;color:#373737}
*/

input[type='text'] {width:140px;margin-left:0px;border:1px solid #ccc}
input[type='text'].wid40 {width:40px;margin-left:0px;border:1px solid #ccc}
input[type='checkbox'] {margin:0 0 0 0;border:1px solid #ccc}
select {margin:0 0 0 0;border:1px solid #ccc}

.fr {float:right !important}
.fl {float:left !important}

.mt5 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}
.mt35 {margin-top:35px !important}
.mt40 {margin-top:40px !important}
.mt45 {margin-top:45px !important}
.mt50 {margin-top:50px !important}
.mt55 {margin-top:55px !important}
.mt60 {margin-top:60px !important}
.mt65 {margin-top:65px !important}
.mt70 {margin-top:70px !important}

.ml5 {margin-left:5px !important}
.m10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}
.ml25 {margin-left:25px !important}
.ml30 {margin-left:30px !important}
.ml35 {margin-left:35px !important}
.ml40 {margin-left:40px !important}
.ml45 {margin-left:45px !important}
.ml50 {margin-left:50px !important}
.ml55 {margin-left:55px !important}
.ml60 {margin-left:60px !important}
.ml65 {margin-left:65px !important}
.ml70 {margin-left:70px !important}

.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mb35 {margin-bottom:35px !important}
.mb40 {margin-bottom:40px !important}
.mb45 {margin-bottom:45px !important}
.mb50 {margin-bottom:50px !important}
.mb55 {margin-bottom:55px !important}
.mb60 {margin-bottom:60px !important}
.mb65 {margin-bottom:65px !important}
.mb70 {margin-bottom:70px !important}

.pt5 {padding-top:5px !important}
.pt10 {padding-top:10px !important}
.pt15 {padding-top:15px !important}
.pt20 {padding-top:20px !important}
.pt25 {padding-top:25px !important}
.pt30 {padding-top:30px !important}
.pt35 {padding-top:35px !important}
.pt40 {padding-top:40px !important}
.pt45 {padding-top:45px !important}
.pt50 {padding-top:50px !important}
.pt55 {padding-top:55px !important}
.pt60 {padding-top:60px !important}
.pt65 {padding-top:65px !important}
.pt70 {padding-top:70px !important}

.pl5 {padding-left:5px !important}
.p10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl20 {padding-left:20px !important}
.pl25 {padding-left:25px !important}
.pl30 {padding-left:30px !important}
.pl35 {padding-left:35px !important}
.pl40 {padding-left:40px !important}
.pl45 {padding-left:45px !important}
.pl50 {padding-left:50px !important}
.pl55 {padding-left:55px !important}
.pl60 {padding-left:60px !important}
.pl65 {padding-left:65px !important}
.pl70 {padding-left:70px !important}

.pr5 {padding-right:5px !important}
.pr0 {padding-right:10px !important}
.pr15 {padding-right:15px !important}
.pr20 {padding-right:20px !important}
.pr25 {padding-right:25px !important}
.pr30 {padding-right:30px !important}
.pr35 {padding-right:35px !important}
.pr40 {padding-right:40px !important}
.pr45 {padding-right:45px !important}
.pr50 {padding-right:50px !important}
.pr55 {padding-right:55px !important}
.pr60 {padding-right:60px !important}
.pr65 {padding-right:65px !important}
.pr70 {padding-right:70px !important}


