@CHARSET "UTF-8";

* {
	font-family:arial;
}
div.list {margin-top:10px}
div.list table {width:100%;height:250px;border-spacing:0px;border-collapse:collapse;border:1px solid #DDDDDD;text-align:center}
div.list table thead tr th{height:30px;padding:0px 5px 0px 5px;border:1px solid #a8a05e;background-color:#d2ceac}
div.list table tbody tr:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#F7F7F7}
div.list table tbody tr:nth-child(even){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#FFFFFF}
div.list table tbody tr td{cursor:pointer;height:20px;padding:0px 5px 0px 5px;border:1px solid #DDDDDD;}
div.list table tbody tr td.titlevTd {text-align:left}
div.list table tbody tr td:HOVER {border:0px solid black;background-color:#DFDFDF}

div.form {}
div.form table {width:100%;border-spacing:0px;border-collapse:collapse;border:1px solid #DDDDDD;text-align:center}
div.form table thead tr th{padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#DFDFDF}
div.form table tbody tr th div.previewId {background-color:#FFFFFF}
div.form table tbody tr th div.imgsizen {background-color:#FFFFFF}

div.form table tbody tr th:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#E7E7E7}
div.form table tbody tr th:nth-child(odd){border:1px solid #DDDDDD;background-color:#E7E7E7}
div.form table tbody tr th:nth-child(even){border:1px solid #DDDDDD;background-color:#E4E4E4}
div.form table tbody tr td{text-align:left;padding:5px 5px 5px 5px;border:1px solid #DDDDDD;}


div.view {}
div.view table {width:100%;border-spacing:0px;border-collapse:collapse;border:1px solid #DDDDDD;text-align:center}
div.view table thead tr th{text-align:center;padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#DFDFDF}
div.view table tbody tr th div.previewId {background-color:#FFFFFF}
div.view table tbody tr th div.imgsizen {background-color:#FFFFFF}

div.view table tbody tr th:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#E7E7E7}
div.view table tbody tr th:nth-child(odd){border:1px solid #DDDDDD;background-color:#E7E7E7}
div.view table tbody tr th:nth-child(even){border:1px solid #DDDDDD;background-color:#E4E4E4}
div.view table tbody tr td:nth-child(odd){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#F7F7F7}
div.view table tbody tr td:nth-child(even){padding:0px 5px 0px 5px;border:1px solid #DDDDDD;background-color:#FFFFFF}
div.view table tbody tr td{text-align:center;padding:0px 5px 0px 5px;border:1px solid #DDDDDD;}


div.paging {text-align:center;float:right;margin:10px}
div.paging div.pagenum {margin:0px}
div.paging div.pagenum strong {
	color: #707070 !important;
	background: #FFFFFF !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	padding: 6px 9px 6px 9px !important;
	margin-right: 3px !important;
	display:inline-block;
	
}
div.paging div.pagenum a:HOVER {
	color: #fff !important;
	text-shadow: 0px 1px #B72E2E !important;
	border-color: #AD2D2D !important;
	background: #E43838 !important;
	background: -moz-linear-gradient(top,#FF9B9B 1px,#FE5555 1px,#E43838) !important;
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FF9B9B),color-stop(0.02,#FE5555),color-stop(1,#E43838)) !important;
}
div.paging div.pagenum a {
	color: #707070 !important;
	background: #FFFFFF !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border: solid 1px #DCDCDC !important;
	padding: 6px 9px 6px 9px !important;
	margin-right: 3px !important;
	display:inline-block;
}
	

a.btn  {
	color: #707070 !important;
	background: #FFFFFF !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border: solid 1px #DCDCDC !important;
	padding: 5px 7px 5px 7px !important;
	margin: 10px 5px 10px 5px;
}
a.btn:hover {
	color: #fff !important;
	text-shadow: 0px 1px #B72E2E !important;
	border-color: #AD2D2D !important;
	background: #E43838 !important;
	background: -moz-linear-gradient(top,#FF9B9B 1px,#FE5555 1px,#E43838) !important;
	background: -webkit-gradient(linear,0 0,0 100%,color-stop(0.02,#FF9B9B),color-stop(0.02,#FE5555),color-stop(1,#E43838)) !important;
}
a.btn:active {
	position:relative;
	top:1px;
}
	
	