@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#movie_content {
	width: 930px;
	position: relative;
	float: left;
}

#title_movie {
	width: 900px;
	height: 325px;
	margin: 25px auto 0 auto;
	padding: 0;
	border: 0px solid black;
	border-radius: 10px;
	background-color: #FFFFDF;
	box-shadow: 3px 3px 3px #FFB3C2;
	overflow: hidden;
}

#title {
	width: 900px;
	height: 45px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px 3px #B70000; color : white;
	background: linear-gradient(to bottom, #FF53AC, #FFB3C2); border: 0px
		solid black;
	color: white
}

#movie_title_image {
	width: 900px;
	height: 300px;
	margin-top: 18px;
}

#title_movie ul li {
	display: inline;
	list-style: none;
	float: left;
	margin-left: 18px;
	border-radius: 5px;
}

#show_movie{
	width : 850px;
	height : 660px;
	border : 0px solid black;
	border-radius : 10px;
	margin : 25px auto 0 40px;
	position : relative;
	background-color: #FFFFDF;
	box-shadow: 3px 3px 3px #FFB3C2;
	overflow : hidden;
	float : left;
}

#sub_title{
	width :  850px;
	height : 30px;
	height: 45px;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px 3px #B70000; color : white;
	background: linear-gradient(to bottom, #FF53AC, #FFB3C2); border: 0px
		solid black;
	color: white
}

#sub_movie{
	width : 210px;
	height : 300px;
	border : 0px solid black;
	margin : 20px 50px 0 0;
	position : relative;
	float : right;
}


#detail_movie{
	width : 530px;
	height : 200px;
	margin-top : 20px;
	margin-left : 2px;
	border : 0px solid black;
	padding-left : 10px;
	position : relative;
	float : left;
}

#detail_movie_title ul li{
	margin-top : 5px;
	list-style : none;
}

#image1_1{
	width : 250px;
	height : 300px;
	position : relative;
	float : rigth;
}

#desc1_1{
	font-size : 30px;
}

#story_area{
	width : 530px;
	height : 200px;
	margin-top : 20px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#story_title{
	width : 530px;
	height : 40px;
	font-size : 20px;
	font-weight : bold;
	text-align : center;
	padding-top : 10px;
	border : 0px solid black;
	position : relative;
	float : left;
}

#btn{
	padding-bottom : 5px;
	border-bottom : 1px solid black;
}

#btn_1{
	color : white;
	width : 60px;
	height : 20px;
	background : linear-gradient(to top, #5191D9,#00D8FF);
	border : 0px solid black;
}

#btn_2 {
	color : white;
	width : 100px;
	height : 25px;
	background : linear-gradient(to top, #5191D9,#00D8FF);
	border : 0px solid black;
}

#desc1_6 {
	border_bottom : 1px solid black;
}


