@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

.food1 {
	width: 930px;
	height: 500px;
	border: 0px solid black;
	margin: 25px auto 0 auto;
	padding: 0px;
	float: left;
	text-align: center;
}
 
table, tr, td {
	border: 1px solid black;
}

table {
	widht: 910px;
	height: 1100px;
}

img {
	padding: 5px;
	margin-top: -10px;
	width: 227px;
	height: 150px;
}

li {
	list-style: none;
	text-align: left;
} 


dl {
	list-style: none;
	float: left;
	width: 232px;
	height: 211px;
}

dl dd {
	text-align: center;
}

dl dd.title {
	font-weight: bold;
}


#td1 {
	padding: 0px;
	margin: 0px;
}

.searchOption {
	float: right;
	height: 26px;
	border: 1px solid #FF5E80;
	border-radius: 5px;
	margin: 0px 20px 0 0;
}
#btn {
	width: 930px;
	height: 40px;
	margin-top: 10px;
	position: relative;
	float: left;
}

#local {
	width: 100px;
	height: 40px;
	text-shadow : 3px 3px 3px #FF70B2;
	border: 1px solid #FF70B2;
	color : white;
	font-size : 15px;
	font-weight : bold;
	background: linear-gradient(to top, #FF70B2, #FFA5BE);
	border-radius: 15px;
}

#tema {
	width: 100px;
	height: 40px;
	text-shadow : 3px 3px 3px #FF70B2;
	border: 1px solid #FF70B2;
	color : white;
	font-size : 15px;
	font-weight : bold;
	background: linear-gradient(to top, #FF70B2, #FFA5BE);
	border-radius: 15px;
}

#option_content_local {
	width: 930px;
	height: 200px;
	box-shadow: 2px 2px 3px #FF70B2;
	border-radius: 15px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	float: left;
	border-radius: 15px;
}

#option_content_tema {
	width: 930px;
	height: 200px;
	box-shadow: 2px 2px 3px #FF70B2;
	border-radius: 15px;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	float: left;
}

#option_text {
	width: 930px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	background: linear-gradient(to top, #FF70B2, #FFA5BE);
	height: 45px;
	border-bottom: 3px outset #FF70B2;
	padding: 10px 0 0 10px;
	position: relative;
	float: left;
	position: relative
}

#local_ck {
	width: 23px;
	height: 23px;
	border: 1px solid black;
}

#option_check {
	width: 930px;
	height: 100px;
	font-size: 20px;
	border: 0px solid black;
	position: relative;
	float: left;
}

#option_check ul {
	width: 930px;
	height: 30px;
	margin-top: 30px;
	margin-left: 10px;
}

#option_check ul li {
	display: inline;
	width: 200px;
	height: 30px;
	margin-left: 20px;
	list-style: none;
	border: 0px solid black;
}

#search {
	width: 930px;
	height: 40px;
	margin-top: 25px; 
	border-top : 2px solid black;
	padding-top : 10px;
	position: relative;
	float: left;
}

#tour_content {
	width: 930px;
	height: 100px;
	margin-top: 25px;
	border-radius: 15px;
	box-shadow: 2px 2px 3px #FF70B2;
	position: relative;
	overflow: hidden;
	float: left;
	position: relative
}
#list_search {
	width: 930px;
	height: 100px;
	margin-top: 25px;
	border-radius: 15px;
	box-shadow: 2px 2px 3px #FF70B2;
	position: relative;
	overflow: hidden;
	float: left;
	position: relative
}

#tour_content_top {
	width: 930px;
	height: 40px;
	border-bottom: 3px outset #FF70B2;
	padding-top: 10px;
	padding-left: 10px; color : white;
	font-size: 20px;
	font-weight: bold; background : linear-gradient( to top, #FF70B2,
	#FFA5BE);
	position: relative;
	float: left;
	background: linear-gradient(to top, #FF70B2, #FFA5BE);
	color: white
}

#tour_content_down {
	width: 930px;
	heigth: 50px; 
	margin-top : 0px;
	position: relative;
	float: left;
	margin-top: 10px
}

#tour_content_down ul li {
	width: 100px;
	height: 30px;
	margin-left: 15px;
	text-align: center;
	border-right: 1px solid #FF70B2; 
	display : inline;
	list-style: none;
	float: left;
	display: inline
}

#cook_list {
	width: 930px;
	height: 500px;
	margin-top: 25px; border : 1px solid black;
	position: relative;
	float: left;
	border: 0px solid black
}


#search_btn {
	width: 63px;
	height: 30px;
	text-shadow : 3px 3px 3px #FF70B2;
	border: 1px solid #FF70B2;
	color : white;
	font-size : 15px;
	font-weight : bold;
	background: linear-gradient(to top, #FF70B2, #FFA5BE);
	border-radius: 15px;
	float: right;
}

#search_text{
	width: 170px;
	height: 27px;
	font-size : 19px;
	border: 1px outset #FF70B2;
	text-align: right; 
	border-radius : 15px;
	float: right;
	border-radius: 15px;
	margin-right: 10px
}